@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
   
    font-family: 'Montserrat', sans-serif;
    color:white;
}*{
    margin:0;
    padding:0;
}
.home{
    min-height: 100vh;
    width:100%;
    background:linear-gradient(
        to right , #463e4b,
        #505485,#2e271d);
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}
@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.coin-container{
    display: flex;
    justify-content: center;

}
.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height:80px;
    border-bottom: 1px solid #d7d7d7;
    width:1000px;
}
.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}
.coin h1{
   font-size: 16px;
   width: 150px;
}
.coin img{
    height:30px;
    width:30px;
    margin-right:3px;
}
.coin-symbol{
    text-transform: uppercase;
    margin-left:14px;
    color:rgb(199, 195, 195);
}
.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.coin-price{
    width:110px;
}
.coin-volume{
    width:230px;
}
.coin-marketcap{
    width:155px;
}
.coin-percent{
    font-weight: bold;
    widtH:100%;
}


.red{
    color:red;
}
.green{
    color:green;
}